<!-- Add header from layout partial -->
<%- include('partials/header'); -%>


<h1><%= postTitle %></h1>
<p><%= postContent %></p>
<!-- Delete button for unecessary posts -->
<form action="/delete" method="post">
    <button type="submit" name="button" class="btn btn-danger btn-sm" value="<%= postId %>">Delete</button>
</form>


<!-- Add footer from layout partial -->
<%- include('partials/footer'); -%>
